table.md-data-table {
	width           : 100%;
	border-collapse : collapse;

	thead {
		tr {
			background-color : white;
			line-height      : 30px;
			height           : 30px;

			th {
				border-bottom : 1px solid #111111;
				text-align    : left;
				padding-left  : 20px;
				font-weight   : 700;

				&:after {
					float       : right;
					line-height : 30px !important;
					height      : 30px !important;
					font-size   : 18px !important;
				}

				&.sorting,
				&.sorting-asc,
				&.sorting-desc {
					cursor : pointer;
					&:after {
						@include material-icons;
					}
				}

				&.sorting {
					&:after {
						content : "swap_vert";
						color   : #DCDCDC;
					}
				}

				&.sorting-asc {
					&:after {
						content : "arrow_drop_up";
					}
				}

				&.sorting-desc {
					&:after {
						content : "arrow_drop_down";
					}
				}
			}
		}
	}

	tbody {
		tr {
			line-height : 30px;
			height      : 30px;
			transition  : background-color 0.4s ease;

			&:first-child td {
				border-top : none;
			}

			&.odd {
				background-color : #F1F1F1;
			}

			&.even {
				background-color : transparent;
			}

			&:hover {
				background-color : #EAEAEA;
				a {
					text-decoration : none;
				}
			}

			&.hidden {
				display : none;
			}

			td {
				vertical-align : top;
				padding        : 6px 10px;
				border-top     : 1px solid #DDDDDD;
			}

			a {
				color : inherit;

				&:hover {
					text-decoration : none;
				}
			}
		}
	}
}