//== Description List
//
//##
dl.md-dlist {

	dd, dt {
		display : block;
	}

	dd {
		white-space : nowrap;
	}

	dt {
		white-space : nowrap;
		font-weight : 700;
		color       : mdGetColor($md-theme);
	}
}
