//== Variables
//
//##
$__gutter-width : 30px;

//== Columns
//
//##
$__screen-sizes : (xs: 300px, is: 480px, sm: 768px, md: 992px, lg: 1200px);

@function __createBreakpoints() {
	$result : ();
	$last-size : null;
	@each $screen-size, $width in $__screen-sizes {
		$result : map_merge($result, (
				$screen-size: (
						width: $width,
						min-width: $width,
				)
		));
		@if ($last-size != null) {
			$result : map_merge($result, (
					$last-size: (
							width: map_get($__screen-sizes, $last-size),
							min-width: map_get($__screen-sizes, $last-size),
							max-width: $width - 1
					)
			));
		}
		$last-size : $screen-size;
	}
	@return $result;
}

$__breakpoints : __createBreakpoints();

@mixin __create-columns() {
	$size-list : ();
	@each $screen-size, $data in $__breakpoints {
		@for $column-size from 1 through 12 {
			//@media (min-width : map_get($data, width)) {
			//	.col-#{$screen-size}-#{$column-size} {
			//		width : 100% / (12 / $column-size);
			//	}
			//}
			.col-#{$screen-size}-#{$column-size} {
				@media (min-width : map_get($data, width)) {
					width : 100% / (12 / $column-size);
				}
			}
			$size-list : append($size-list, ".col-#{$screen-size}-#{$column-size}", "comma");
		}
		@if (map_has_key($data, max-width)) {
			.hidden-#{$screen-size} {
				@media(max-width : map_get($data, max-width)) {
					display : none !important;
				}
			}
		}
	}
	#{$size-list} {
		position      : relative;
		min-height    : 1px;
		padding-left  : ($__gutter-width / 2);
		padding-right : ($__gutter-width / 2);
		float         : left;
	}
	@for $i from 1 through length(map-keys($__breakpoints)) {
		$name : nth(map-keys($__breakpoints), $i);
		.visible-#{$name} {
			display : none;
			@media(max-width : map_get(map_get($__breakpoints, $name), max-width)) {
				display : inherit;
			}
		}
	}
}

@include __create-columns;

//== Row
//
//##
.row {
	margin-left  : -$__gutter-width / 2;
	margin-right : -$__gutter-width / 2;
	&:before {
		content : " ";
		display : table;
	}
	&:after {
		clear   : both;
		content : " ";
		display : table;
	}
}

//== Container
//
//##
.container {
	margin-right  : auto;
	margin-left   : auto;
	padding-left  : $__gutter-width / 2;
	padding-right : $__gutter-width / 2;

	@media (min-width : map_get(map_get($__breakpoints, is), width)) {
		width : map_get(map_get($__breakpoints,is),width) - (2 * $__gutter-width)
	}

	@media (min-width : map_get(map_get($__breakpoints, sm), width)) {
		width : map_get(map_get($__breakpoints,sm),width) - (2 * $__gutter-width)
	}

	@media (min-width : map_get(map_get($__breakpoints, md), width)) {
		width : map_get(map_get($__breakpoints,md),width) - (2 * $__gutter-width)
	}
	@media (min-width : map_get(map_get($__breakpoints, lg), width)) {
		padding : 0;
	}
}

//== Public Functions
//
//##
@function fwGetBreakpoint($name) {
	$result : map_get(map_get($__breakpoints, $name), width);
	@return "min-width: #{$result}";
}