//===== ===== ===== ===== =====
//  Variables
//##
$roboto-font-path : "../fonts/roboto/";

//===== ===== ===== ===== =====
//  Media Breakpoints
//##
$screen-xs : 480px !default;
$screen-xs-min : $screen-xs !default;

$screen-sm : 768px !default;
$screen-sm-min : $screen-sm !default;

$screen-md : 992px !default;
$screen-md-min : $screen-md !default;

$screen-lg : 1200px !default;
$screen-lg-min : $screen-lg !default;

$screen-xs-max : ($screen-sm-min - 1) !default;
$screen-sm-max : ($screen-md-min - 1) !default;
$screen-md-max : ($screen-lg-min - 1) !default;

//===== ===== ===== ===== =====
//  Grid
//##
$grid-columns : 12;
$grid-gutter-width : 30px;

//===== ===== ===== ===== =====
//  Container
//##
$container-sm : (720px + $grid-gutter-width) !default;
$container-md : (940px + $grid-gutter-width) !default;
$container-lg : (1140px + $grid-gutter-width) !default;

//===== ===== ===== ===== =====
//  Typography
$text-color : rgba(0, 0, 0, 0.87) !default;
$h1-fontsize : 4.2rem !default;
$h2-fontsize : 3.56rem !default;
$h3-fontsize : 2.92rem !default;
$h4-fontsize : 2.28rem !default;
$h5-fontsize : 1.64rem !default;
$h6-fontsize : 1rem !default;

//===== ===== ===== ===== =====
//  Color
//##
$main-color : getColor(light-green);
$main-color-light : lighten($main-color, 15%);
$main-color-dark : darken($main-color, 15%);
$secondary-color : getLightColor(deep-orange, 1);
$success-color : getColor(green);
$error-color : getColor(red);
$link-color : getDarkColor(light-green, 1) !default;

//===== ===== ===== ===== =====
//  Navbar
//##
$navbar-font-color : #3f3f3f;
$navbar-height-xs : 64px;


