//== Framework
//
//##
@import "color-palettes";
@import "mixins";
@import "variables";
@import "grid";

//== Global Styles
//
//##
*,
*:before {
	box-sizing : border-box;
}

a {
	text-decoration : none;

	&:hover {
		text-decoration : none;
		outline         : none;
	}
}

.left {
	float : left !important;
}

i.left {
	margin-right : 15px;
}

.right {
	float : right !important;
}

i.right {
	margin-left : 15px;
}

.clear-fix {
	&:before,
	&:after {
		content : " ";
		display : table;
	}
	&:after {
		clear : both;
	}
}

.disabled {
	color : mdGetLightColor(grey, 3);
}

.md-flash-message {
	border-radius    : 2px;
	top              : 0;
	width            : auto;
	clear            : both;
	margin-top       : 10px;
	position         : relative;
	max-width        : 100%;
	height           : auto;
	min-height       : 48px;
	line-height      : 1.5em;
	word-break       : break-all;
	background-color : mdGetDarkColor(blue-grey, 3);
	padding          : 10px 25px;
	font-size        : 1.1rem;
	font-weight      : 300;
	color            : #FFFFFF;
	justify-content  : space-between;

	&.notice {
		color : mdGetColor(lime);
	}
	&.warning {
		color : mdGetLightColor(yellow, 1);
	}
	&.error {
		color : mdGetDarkColor(red, 3);
	}
}

//== Material Design Components
//
//##
@import "components/md_button";
@import "components/md_dlist";
@import "components/md_card-panel";
@import "components/md_collection";
@import "components/md_parallax";
@import "components/md_forms";
@import "components/md_data-table";